<!DOCTYPE html>
<html>
  <head>
    <title>Two Panel Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="left-panel">
      <h1>IM AWARE</h1>
      <h2>Dam break simulations</h2>
      <form id="simForm" method="post">
        <label for="nObj">Particle number:</label>
        <input type="number" id="nObj" name="nObj" /><br />
        <label for="pondRadius">Release volume (m^3)</label>
        <input type="number" id="pondRadius" name="pondRadius" /><br />
        <label for="tailingsVolume">Pond radius (m)</label>
        <input type="number" id="tailingsVolume" name="tailingsVolume" /><br />
        <label for="tailingsDensity">Material density (kg/m^3)</label>
        <input type="number" id="tailingsDensity" name="tailingsDensity"/><br />
        <label for="dampingCoeff">Damping factor</label>
        <input type="number" id="dampingCoeff" name="dampingCoeff"/><br />
        <label for="maxTime">Sim time (s)</label>
        <input type="number" id="maxTime" name="maxTime"/><br />
        <label for="timeStep">Time step (s)</label>
        <input type="number" id="timeStep" name="timeStep"/><br />
        <input type="submit" value="Simulate">
      </form>
    </div>
    <div id="right-panel">
      {{iframe|safe}}
    </div>
  </body>
</html>
